
<footer class="footer">
    <div class="footer-header">
        <h1>🏛️Universidad Nacional Autónoma de Nicaragua🏛️ <br><span class="highlight">UNAN Managua</span></h1>
        <P>CUR Carazo</P>
    </div>
    <div class="footer-icons">
        <div class="icon-box">
            <a href="https://concepto.de/probabilidad-y-estadistica/" class="icon-link" target="_blank" rel="noopener noreferrer">
                <div class="icon">📊</div>
                <p>Estadística y Probabilidad</p>
            </a>            
        </div>
        <div class="icon-box">
            <a routerLink="/ourstory" class="icon-link">
                <div class="icon">👥</div>
                <p>Colaboradores</p>
            </a>
        </div>
        <div class="icon-box">
            <a routerLink="/ourstory" class="icon-link">
                <div class="icon">🔍</div>
                <p>Acerca de Nosotros</p>
            </a>
        </div>
    </div>
    <p>© 2024 App-Estadística. Todos los derechos reservados.</p>
</footer>

